{% if server %}
<div class="text-center">
  <table width="80%" align="center">
    <tr style="background-color: #f2f2f2">
      <th valign="top" align="right">Name</th>
      <td align="left"><img src="https://cdn.glowie.xyz/icons/flags/{{server.country_iso}}.gif" title="{{server.country_name}}" /> {% if server.PASSWORD %}<span title="Server has a password">🔐</span>{% else %}<span title="Server is public">🌏</span>{% endif %} {% if server.status %}<span title="Server is up">✈</span>{% else %}<span title="Server is down">🚧</span>{% endif %}&nbsp;{{server.NAME}}</td>
    </tr>
    <tr>
      <th valign="top" align="right">Scenario:</th>
      <td align="left">{{server.MISSION_NAME}} ({{server.MISSION_TIME_FORMATTED}})</td>
    </tr>
    <tr style="background-color: #f2f2f2">
      <th valign="top" align="right">Players&nbsp;(max)</th>
      <td align="left">{{server.PLAYERS}} ({{server.PLAYERS_MAX}})</td>
    </tr>
    <tr>
      <th valign="top" align="right">Description:</th>
      <td align="left">{{server.DESCRIPTION|safe}}</td>
    </tr>
    {% if server.samehost %}
    <tr style="background-color: #f2f2f2">
      <th valign="top" align="right">Related&nbsp;Servers</th>
      <td align="left"><ul>{% for host in server.samehost %}<li><a href="/servers/{{host.IP_ADDRESS}}:{{host.PORT}}">{{host.NAME}}</a></li>{% endfor %}</ul></td>
    </tr>
    {% endif %}
    <tr style="background-color: #f2f2f2">
      <th valign="top" align="right">Activity:</th>
      <td><div id="chart_div"></div></td>
    </tr>
    <tr>
      <th valign="top" align="right">Past&nbsp;Ops:</th>
      <td>
        <table border="1" cellspacing="0" cellpadding="2">
          <tr>
            <td><b>Scenario</b></td>
            <td><b>Start</b></td>
            <td><b>End</b></td>
            <td><b>Duration</b></td>
            <td><b>Max players</b></td>
          </tr>
          {% for event in history %}
          <tr>
            <td>{{event.mission_name}}</td>
            <td>{{event.start}}</td>
            <td>{{event.end}}</td>
            <td>{{event.mission_time_formatted|safe}}</td>
            <td>{{event.players}}</td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript">

  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.arrayToDataTable([
      ['Time', 'Players'],
      {% for value in values %}['{{value.key}}',{{value.val}}]{{ "," if not loop.last }}{% endfor %}
    ]);


    // Set chart options
    var options = { width: 800,
                    height: 400,
                    animation: {duration:2000, startup:true, easing: "inAndOut"},
                    vAxis: {minValue: 0}
                  };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

{% else %}
  <div class="text-center">Server not found. Is it on? Try again in a few minutes.</div>
{% endif %}
